/* TO DO:
  -stylize forum page to look less barbaric lol
*/

.forum-page {
  width: 100%;
}

.create-thread-btn {
  font-size: 15pt;
  font-weight: bold;
}

.create-thread-input {
  margin: 0 5pt 0 5pt;
}

.thread {
  margin: 5pt;
  background-color: beige;
  padding: 5pt 0 5pt 0;
  text-align: left;
}
.thread-name {
  margin: 0 10pt 0 10pt;
  font-size: 15pt;
  font-weight: bold;
  display: inline-block;
}
.reply-button {
  margin: 0 5pt 0 5pt;
}
.like-button {
  margin: 0 5pt 0 5pt;
}
.likes {
  display: inline-block;
}
