.App {
  text-align: center;
}

.app-header {
  background-color: #001234;
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  font-size: 12pt;
  font-weight: 800;
  color: white;
}

.app-footer {
  background-color: #001234;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 8pt;
  font-weight: 800;
  color: white;
}

.app-header nav {
  display: inline-block;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 0px 6px 0px 6px;
}

a:visited {
  color:white;
}

.app-header p {
  /* display: inline-block */
  display: flex;
}
